In [4]:
data = {}

n = int(input("Enter No of Participants :"))

for i in range (n):
    sports = []
    name = str(input("Enter the name :"))
    sports = str(input("Enter the sports :")).split(",")
    data[name] = sports

print(data)

Enter No of Participants : 3
Enter the name : Harshal
Enter the sports : Cricket,Football,Basketball,Badminton
Enter the name : Yash
Enter the sports : Cricket,Football,Chess,Ludo
Enter the name : Prajwal
Enter the sports : Cricket,Table Tennis,Chess,Kabbadi

{'Harshal ': ['Cricket', 'Football', 'Basketball', 'Badminton'], 'Yash': ['Cricket', 'Football', 'Chess', 'Ludo'], 'Prajwal': ['Cricket', 'Table Tennis', 'Chess', 'Kabbadi']}

In [5]:
#1
for key,value in data.items():
    if("Cricket" in value and "Football" in value):
        print(key)

Harshal
Yash

In [8]:
#2
unique = set()
for key, value in data.items():
    unique.update(value)
print(unique)

{'Kabbadi', 'Football', 'Ludo', 'Badminton', 'Chess', 'Table Tennis', 'Basketball', 'Cricket'}

In [9]:
#3
sports_list = []
for key,values in data.items():
    sports_list.extend(values)
sports_list

['Cricket',
 'Football',
 'Basketball',
 'Badminton',
 'Cricket',
 'Football',
 'Chess',
 'Ludo',
 'Cricket',
 'Table Tennis',
 'Chess',
 'Kabbadi']

In [10]:
sports_freq = {}
for i in sports_list:
    if(i in sports_freq.keys()):
        sports_freq[i] += 1
    else:
        sports_freq[i] = 1
print(sports_freq)

{'Cricket': 3, 'Football': 2, 'Basketball': 1, 'Badminton': 1, 'Chess': 2, 'Ludo': 1, 'Table Tennis': 1, 'Kabbadi': 1}