In [4]:
University = {}
n = int(input("Enter the Number of Students :"))

for i in range(n):
    courses = ()
    name = str(input("Enter the Name of Student: "))
    courses = str(input("Enter the Name of Courses: (comma seperatd) ")).split(",")
    
    University[name] = courses

Enter the Number of Students : 2
Enter the Name of Student:  Harshal
Enter the Name of Courses: (comma seperatd)  AI,ML,DS
Enter the Name of Student:  Yash
Enter the Name of Courses: (comma seperatd)  AI,JAVA,DL

In [5]:
University

{'Harshal': ['AI', 'ML', 'DS'], 'Yash': ['AI', 'JAVA', 'DL']}

In [7]:
for key,values in University.items():
    if("AI" in values and "DS" in values):
        print(key)

Harshal

In [9]:
all_courses = set()
for key,values in University.items():
    all_courses.update(values)
all_courses

{'AI', 'DL', 'DS', 'JAVA', 'ML'}