In [3]:
#Q1
countries = {"India", "USA", "China", "India", "Russia", "Pakistan"}
countries

{'China', 'India', 'Pakistan', 'Russia', 'USA'}

In [4]:
#Q2
n = {1, 2, 4 , 9, 3, 8, 2 ,6 ,3, 2}
n

{1, 2, 3, 4, 6, 8, 9}

In [5]:
#Q3
fruits = ["apple", "banana", "cherry", "mango", "apple"]
fruits_set = set(fruits)
fruits_set

{'apple', 'banana', 'cherry', 'mango'}

In [6]:
#Q4
fruits_set.add("grapes")
fruits_set

{'apple', 'banana', 'cherry', 'grapes', 'mango'}

In [7]:
#Q5
fruits_set.update(["orange", "pineapple"])
fruits_set

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange', 'pineapple'}

In [8]:
#Q6
fruits_set.add("apple")
fruits_set

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange', 'pineapple'}

In [9]:
#Q7
fruits_set.remove("banana")
fruits_set

{'apple', 'cherry', 'grapes', 'mango', 'orange', 'pineapple'}

In [10]:
#8 
fruits_set.discard("pineapple")
fruits_set

{'apple', 'cherry', 'grapes', 'mango', 'orange'}

In [11]:
#9
fruits_set.pop()

'cherry'

In [12]:
#10
fruits_set.clear()
fruits_set

set()

In [13]:
#11
A = {1, 2, 3}
B = {3, 4, 5}

A|B

{1, 2, 3, 4, 5}

In [14]:
#12
A&B

{3}

In [15]:
#13
A-B

{1, 2}

In [16]:
#14
A^B

{1, 2, 4, 5}

In [17]:
#15
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

A.issubset(B)

True

In [18]:
#16
B.issuperset(A)

True

In [19]:
#17
print(A.isdisjoint(B))

False

In [20]:
#18
print("Is 4 in A? :", 4 in A)

Is 4 in A? : False

In [21]:
#19
print("Is 4 in A? :", 4 in A)

Is 4 in A? : False

In [22]:
#20
print(len(B))

5

In [23]:
#21
print("Min Element :", min(A))
print("Max Element :", max(B))

Min Element : 1
Max Element : 5

In [24]:
#22
print("Sum :", sum(B))

Sum : 15

In [25]:
#23
print("Sorted :", sorted(B))

Sorted : [1, 2, 3, 4, 5]

In [26]:
#24
print("Sorted :", sorted(B, reverse = True))

Sorted : [5, 4, 3, 2, 1]

In [27]:
#25
l = {1, 0, 1, 0}
print(any(l))

True

In [28]:
#26
print(all(l))

False

In [29]:
#27
fruits_copy = fruits_set.copy()
print(fruits_copy)

set()

In [30]:
#28
del fruits_copy

In [31]:
#29
l1 = [1, 3, 6 , 8, 1, 8]
sets = set(l1)
print(sets)

{8, 1, 3, 6}

In [32]:
#30 
studentsA = {"charlie", "bob", "alice", "david"}
studentsB = { "eve", "frank", "charlie", "bob"}

print(studentsA&studentsB)
print(studentsA-studentsB)
print(studentsA|studentsB)

{'bob', 'charlie'}
{'david', 'alice'}
{'frank', 'bob', 'alice', 'charlie', 'david', 'eve'}

In [33]:
#Tuple

In [34]:
#1
fruits = ("apple", "banana", "cherry", "mango", "grapes")
print(fruits)

('apple', 'banana', 'cherry', 'mango', 'grapes')

In [35]:
#2
t_d = (1, "Harshal", 3, 4.4, 5, 6, "Prajwal" , 8, 9.8, "Durgesh")
print(t_d)

(1, 'Harshal', 3, 4.4, 5, 6, 'Prajwal', 8, 9.8, 'Durgesh')

In [36]:
#3
countries = (("India", "Japan"), ("Maharastra", "Tokyo"))
print(countries)

(('India', 'Japan'), ('Maharastra', 'Tokyo'))

In [39]:
#4
print(t_d[-1])

Durgesh

In [40]:
#5
print(t_d[:3])

(1, 'Harshal', 3)

In [41]:
#Q6
students = ("Harshal", "Durgesh", "Yash", "Atharav")
print(len(students))

4

In [42]:
#Q7
n = (1, 2, 3, 4, 5, 6)
print(min(n))
print(max(n))

1
6

In [43]:
#Q8
sales = (100, 245, 3132, 4345, 510, 600)
print(sum(sales))

8932

In [44]:
#Q9
asc = tuple(sorted(sales))
print(asc)

(100, 245, 510, 600, 3132, 4345)

In [45]:
#10
desc = tuple(sorted(sales, reverse = True))
print(desc)

(4345, 3132, 600, 510, 245, 100)

In [46]:
#Q11
print(sales.count(600))

1

In [47]:
#Q12
print(sales.index(600))

5

In [48]:
#Q13
print("Is python present in tuple ?:", "python" in t_d)

Is python present in tuple ?: False

In [50]:
#Q14
print("Is C++ present in tuple ?:", "C++" not in t_d)

Is C++ present in tuple ?: True

In [51]:
#15
numbers = tuple(range(1,11))
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [55]:
#Q16 
check = (True, False, False, True, False)
print(any(check))

True

In [56]:
#Q17
check = (1, 0 , 1)
print(all(check))

False

In [57]:
#Q18
f_name = ("Harshal", "Durgesh")
l_name = ("Mahajan", "Harsule")
print(f_name+l_name)

('Harshal', 'Durgesh', 'Mahajan', 'Harsule')

In [58]:
#Q19
tup = ("AI", "ML")*3
print(tup)

('AI', 'ML', 'AI', 'ML', 'AI', 'ML')

In [59]:
#Q20
names = ("bob", "alice", "charlie")
score = (80, 85 , 90)
combined = tuple(zip(score, names))
print(combined)

((80, 'bob'), (85, 'alice'), (90, 'charlie'))

In [62]:
#Q21
rev = tuple(reversed(sales))

print(rev)

(600, 510, 4345, 3132, 245, 100)

In [63]:
#Q22
print(min(f_name))
print(max(f_name))

Durgesh
Harshal

In [64]:
#Q23
employee = ("Harshal", "Engineer", 175000)
name, role, salary = employee
print(name)
print(role)
print(salary)

Harshal
Engineer
175000

In [65]:
#Q24
sales[1] = 500

TypeError: 'tuple' object does not support item assignment

In [67]:
#Q25
import sys
sales_t = (100, 245, 3132, 4345, 510, 600)
sales_l = [100, 245, 3132, 4345, 510, 600]
print(sys.getsizeof(sales_t))
print(sys.getsizeof(sales_l))

88
104

In [68]:
#Q26
numbers = tuple(range(1,11))
avg =sum(numbers)/len(numbers)
print(avg)

5.5

In [70]:
#Q27
cities = ("Pune", "Nashik", "Delhi", "Kolakata")
print(cities[::-1])

('Kolakata', 'Delhi', 'Nashik', 'Pune')

In [72]:
#28
num_l = list(numbers)
num_l.append(11)
num_t = tuple(num_l)
print(num_t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [74]:
#Q29
employee = ("Yash", 24, "HR")
name, age, department = employee
print(name)
print(age)
print(department)

Yash
24
HR

In [75]:
#30
product_names = ("Laptop", "Mobile", "Tablet", "Headphones")
prices = (55000, 20000, 30000, 2000)
products = list(zip(product_names, prices))

In [76]:
print(products)

[('Laptop', 55000), ('Mobile', 20000), ('Tablet', 30000), ('Headphones', 2000)]

In [79]:

sorted_products = sorted(products, key=lambda x: x[1], reverse=True)

for product in sorted_products:
    print(product)

('Laptop', 55000)
('Tablet', 30000)
('Mobile', 20000)
('Headphones', 2000)